/* ============================
   header & footer & nav
============================ */


header, footer {
  background: var(--bg-dark);
  color: var(--white);
  padding: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}

header h1 {
  margin: 0 0 1rem 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

nav a:hover {
  color: var(--success-hover);
}

#nav-logo {
  height: 24px;
}
