/* ============================
   6. Mobile Anpassungen
============================ */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }

  .hero {
      padding: 0rem 0.5rem;
      font-size: 3rem;
  }
  
  .cart-item {
    flex-direction: column;
    text-align: center;
  }
  
  .cart-item img {
    margin: 0 0 1rem 0;
  }
  
  .cart-item button {
    margin-top: 1rem;
    width: 100%;
  }
}