/* ============================
   6. Mobile Anpassungen
============================ */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }

  .hero {
      padding: 0rem 0.5rem;
      font-size: 3rem;
  }
  
  .cart-item {
    flex-direction: row;
    text-align: left;
  }
  
  .cart-item img {
    margin: 0 1 1rem 0;
  }
  
  .cart-item button {
    margin-top: 1rem;
    width: auto; 
    align-self: center; /* Button icon */
  }
}